*
{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black ;
    height: 50px;
    text-align: center;
}
form{
    align-items: center;
    border-style: solid;
    border-color: gray;
    width: max-content;
    background-color:gray ;
    justify-content: center;
    align-items:  center;
    left: 50%;
    transform: translateY(50%);
  }
h1
{
   transform: translateX(40%);
}
table
{
    height: 300px;
    font-size: 30;
    display: flex;
    position: all;
    align-items: center;
    justify-content: center;
    border:solid;
    border-color: blue;
    color:white;
}
input{
    height: 40px;
    width: 500px;
    align-items: center;
    border: solid;
    border-color: white;
    background-color: goldenrod ;
    position: all;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
a:visited{
    color:red;
    font-size: 14px;
}
a:active
{
    font-size: 10px;
    color:red;
}
a:link{
    color:white;
}
a:hover{
    border-color: white;
    border-style:solid;
    background-color: white;
    
}
body
{
    align-content: center;
    font-size: 20px;
    background-color:gray;
}
.data
{
    grid:0;
}
.login
{
    text-align: right;
}